body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background: red;
    border-radius: 15px;
    width: 375px;
    text-align: center;
}

.top {
    height: 120px;
    color: whitesmoke;
}

.middle {
    background: white;
    height: 115px;
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.bottom {
    height: 20px;
}

.hello {
    font-size: 4rem;
    /* line-height: 1; */
}

.my-name-is {
    font-size: 1.7rem;
}